.navbar{
    background-color: #21272F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    width:auto;
.navbar_container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_container{
        .middle_container{
            
        }
    }
    .right_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        font-family: 'Gloock', serif;
        color: #00bd95;
        .nav_items{
            cursor: pointer;
            &:hover{
                color: white;
                transition: 0.3s;
            }
            &:not(:hover){
                
            }
        }
    }

}
}